<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>loginform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservelets</display-name>
    <servlet-name>Loginservelets</servlet-name>
    <servlet-class>servelets.Loginservelets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservelets</servlet-name>
    <url-pattern>/Loginservelets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginform</display-name>
    <servlet-name>Loginform</servlet-name>
    <servlet-class>servelets.Loginform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginform</servlet-name>
    <url-pattern>/Loginform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>servelets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>servelets.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
</web-app>