/*.x-panel-header-default {
    background-image: none;
    border: none;
    background-color: #66cc33;
}*/


/*.x-border-box {

	background-color: #666666;
}*/

.icons1 {
    right: 0px !important;
    left: auto !important;
}

/*.icons1 {
    right: 0px ;
    left: auto ;
}*/
/*#panel-1009{
	background-color: #66cc33;
	background-image: none;
}*/

/*.x-panel-header-default .x-panel-header-icon {
	right: 0px !important;
    left: auto !important;
}*/